.wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switchesWrapper {
    width: 300px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.switcher {
    width: 147px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    font-size: 24px;
    line-height: 12px;
    cursor: pointer;
    transition: .2s;
}

.switcher p {
    font-size: 18px;
    line-height: 27px;
}

.inputsWrapper {
    position: relative;
}

.inputIcon {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 20px;
    color: #01474766;
}

.activeSwitcher {
    color: white;
    background: #014747;
    transition: .2s;
}

.input {
    width: 300px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 24px;
    font-size: 18px;
    color: #014747;
    border: 1px solid white;
    border-radius: 10px;
    transition: .2s;
}
  
.input::placeholder {
    color: rgba(1, 71, 71, .4);
    font-size: 18px;
}

.input:focus {
    border: 1px solid #014747;
    transition: .2s;
}

@media screen and (max-width: 768px) {
    .wrapper {
      width: 100%;
      flex-wrap: wrap;
      row-gap: 15px;
    }
  
    .inputs_wrapper {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 15px;
    }

    .input {
        width: unset;
    }

    .switchesWrapper {
        width: unset;
    }

    .switcher {
        width: 116px;
    }
}
