.container {
  min-height: 100vh;
  padding: 0 2rem;
}

.heading {
  text-align: center;
  margin: 24px 0px;
  font-size: 48px;
}

.main {
  padding: 4rem 0;
}

.footer {
  padding: 2rem 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.inputsWrapper {
  width: 728px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.input {
  width: 312px;
  height: 60px;
  border: none;
  outline: none;
  padding-left: 24px;
  font-size: 22px;
  color: rgb(20, 122, 100);
}

.input::placeholder {
  color: rgba(20, 122, 100, .5);
}

.piecesWrapper { 
  margin: 50px;
}

.piecesWrapper li{ 
  margin: 50px 0px;
}

.piecesFlexibleWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.piecesWrapper li {
  list-style: none;
}